<div class="container padded text-center">
  <h2>Our team has <%= 1 + 1   %> members</h2>

<ul class="list-inline text-center">
  <% ["anne", "seb"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "img-circle" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
</div>
